<section class="jumbotron" id="header">
    <div class="outer-center">
        <div class="inner-center">
            <div class="container">
                <h1 class="section-title">{{ _("Support PoliEdro") }}</h1>
                <p class="section-content">
                    {{ _("Discover how to support our activities, including PoliMi Pride, and get our gadgets as a reward!") }}
                </p>
            </div>
        </div>

        <div class="up-down-arrow">
            <h2><i class="fa fa-chevron-down"></i></h2>
        </div>
    </div>
</section>