{% extends 'donations/base.html' %}

{% block title %}Gadgets for {{ location.capitalize() }} campus{% endblock %}

{% block style %}
    {{ super() }}

    <style type="text/css">
        tr.main-donation-row {
            border-top: 3px solid black;
        }

        .shirts-donation-row {
            text-align: center;
        }

        .shirts-donation-row ul {
            padding: 0;
            margin: 5px;
        }

        .shirts-donation-row li {
            display: inline-block;
            padding: 5px;
            border: 1px solid lightgray;
        }

        .
    </style>
{% endblock %}

{% block body %}
    {{ super() }}

    <h1>Gadgets for {{ location.capitalize() }} campus</h1>


    <div>
        <table>
            <thead>
            <tr>
                <th>Last name</th>
                <th>First name</th>
                <th>ID</th>
                <th>Stretch goal</th>
                <th>Items</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for reference in refs %}
                {% for donation in sorted(reference.donations, key=donation_sort_key) %}
                    {% if donation.stretch_goal == 0 or not donation.transaction or donation.transaction.state != "approved" %}
                    {% else %}

                        <tr class="main-donation-row">
                            <td>
                                <a href="{{ url_for("donations.reference", r_id=reference.id) }}">{{ reference.lastname }}</a>
                            </td>
                            <td>{{ reference.firstname }}</td>
                            <td>
                                <a href="{{ url_for("donations.donation", d_id=donation.id, t_id=donation.transaction_id) }}">{{ donation.pretty_id }}</a>
                            </td>
                            <td>{{ donation.stretch_goal }}</td>
                            <td>{{ donation.items }}</td>
                            <td><a href="mailto:{{ reference.email }}">{{ reference.email }}</a></td>
                            <td><a href="tel:{{ reference.phone }}">{{ reference.phone }}</a></td>
                            <td>{{ donation.amount }}</td>
                        </tr>

                        {% if donation.stretch_goal == 3 %}
                            {% with shirts=dbhelpers.shirts_hr_count(donation.shirts) %}
                                <tr class="shirts-donation-row">
                                    {% for t, sizes in shirts.items() %}
                                        <td colspan="4">

                                            <div>{{ strings.HR_SHIRT_TYPES['en'][t] }}</div>
                                            <div>
                                                <ul>
                                                    {% for s, count in sizes.items() %}
                                                        {% if count > 0 %}
                                                            <li>{{ count }} {{ s }}</li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endwith %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}